.ex{
	
	background-color:orange;
	width:350px;
	height:250px;
}
.ex-1{
	
	background-color:orange;
	width:250px;
	height:150px;
}
.wc{
	
	background-color:gray;
	color:white;
}
.ec{
	
	background-color:grey;
}
.contact{
	background-color:orange;
}